// kolory pobrane z koła kolorów Adobe
$color1: #F0E9E1;
$color2: #3B6978;
$color3: #1C4942;

$color-white: $color1;
$color-red: $color2;
$color-green: $color3;

// kolor tła dla wybranej sekcji
$color-bg-section: #50585B;

// kolor tła dla stopki
$color-bg-footer: #1C4942;

// base font size
$font-base: 10px;

// grid
$grid-base: $font-base;
$gutter: 1.5 * $grid-base;

// breakpoins for RWD
$bp-md: 768px;
$bp-lg: 1240px;