// kolory pobrane z koła kolorów Adobe
$color1: #eff0f3;
$color2: #74030e;
$color3: #132601;

$color-white: $color1;
$color-red: $color2;
$color-green: $color3; 

// kolor tła dla wybranej sekcji
$color-bg-section: #504533;

// kolor tła dla stopki
$color-bg-footer: #201b13;

// base font size
$font-base: 10px;

// grid
$grid-base: $font-base;
$gutter: 1.5 * $grid-base;

// breakpoins for RWD
$bp-md: 768px;
$bp-lg: 1240px;